body{
    background-color: #0e0e0e;
    margin: 0;
    padding: 0%;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    perspective-origin: 50%;
}

.dice{
    position: relative;
    height: 250px;
    width: 250px;
    transform-style: preserve-3d;
    animation: rotate 3.5s infinite linear;
}

@keyframes rotate{
    100%{
        transform: rotateY(360deg);
    }
}

.face{
    height: 250px;
    width: 250px;
    border: 7px solid #0e0e0e;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.front{
    transform: translateZ(125px);
}

.back{
    transform: translateZ(-125px) rotateY(180deg);
}
 
.left{
    transform: rotateY(270deg) translateX(-125px);
    transform-origin: center left;
}

.right{
    transform: rotateY(-270deg) translateX(125px);
    transform-origin: top right;
}

.face>div{
    background-color: #0e0e0e;
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.front>div{
    top: 95px;
    left: 95px;
}

.left>div :nth-child(1) {
    top: 15px;
    left: 15px;
}

.left>div:nth-child(2) {
    top: 95px;
    left: 95px;
}

.left>div:nth-child(3) {
    bottom: 15px;
    right: 15px;
}

.right>div:nth-child(1){
    top: 15px;
    left: 15px;
}

.right>div:nth-child(2){
    top: 95px;
    left: 95px;
}

.right>div:nth-child(3){
    top: 15px;
    right: 15px;
}

.right>div:nth-child(4){
    bottom: 15px;
    left: 15px;
}

.right>div:nth-child(5){
    bottom: 15px;
    right: 15px;
}
.right>div:nth-child(5){
    bottom: 15px;
    right: 15px;
}

.back>div:nth-child(1){
    top: 15px;
    left: 15px;
}

.back>div:nth-child(2){
    bottom: 15px;
    right: 15px;
}
